<div class="container-fluid">
  <h1>My Tasks</h1>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <% @tasks.each do |task| %>
          <li class="list-group-item">
            <% if task.completed %>
              <i class="fa fa-square" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-square-o" aria-hidden="true"></i>
            <% end %>
            <%= link_to task.title, task_path(task) %>
            <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <p><%= link_to "create a new task", new_task_path %></p>
</div>
